<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Homepage</title>
  </head>
  <body>
    <%- include('./partials/scripts.ejs') %> <%-
    include('./partials/navbar.ejs') %> 

    <div class="container mt-3">
      <% blogs.forEach(blog => { %>
      <div class="card mt-3" style="width: 18rem">
        <img src="<%= blog.coverUrl %>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <a href="/blog/<%= blog._id %>" class="btn btn-primary">Read</a>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
